body {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  background-color: #495057;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.logo {
  margin-left: 68px;
  font-size: xx-large;
  font-weight: 700;
  cursor: pointer;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #495057;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #495057;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
